[submodule "steve_description"]
	path = src/steve_description
	url = git@github.com:orca-12386/steve_description.git
[submodule "self_drive_course"]
	path = src/self_drive_course
	url = git@github.com:orca-12386/self_drive_course.git
[submodule "direct_lidar_inertial_odometry"]
	path = src/direct_lidar_inertial_odometry
	url = https://github.com/vectr-ucla/direct_lidar_inertial_odometry.git
	branch = feature/ros2
[submodule "ouster-ros"]
	path = src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = git@github.com:W-OK-E/zed-ros2-wrapper.git
[submodule "src/direct_lidar_odometry"]
	path = src/direct_lidar_odometry
	url = git@github.com:W-OK-E/direct_lidar_odometry.git
[submodule "src/manas_expo_nova"]
	path = src/manas_expo_nova
	url = git@github.com:Karthikeya819/manas_expo_nova.git
