[submodule "steve_description"]
	path = src/steve_description
	url = git@github.com:orca-12386/steve_description.git
[submodule "self_drive_course"]
	path = src/self_drive_course
	url = git@github.com:orca-12386/self_drive_course.git
[submodule "ouster-ros"]
	path = src/ouster-ros
	url = git@github.com:ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "src/direct_lidar_odometry"]
	path = src/direct_lidar_odometry
	url = git@github.com:W-OK-E/direct_lidar_odometry.git
[submodule "ros1-bridge/src/zed-ros-wrapper"]
	path = ros1-bridge/src/zed-ros-wrapper
	url = git@github.com:asmit-mit/zed-ros-wrapper.git
[submodule "src/xbox_teleop"]
	path = src/xbox_teleop
	url = git@github.com:orca-12386/xbox_teleop
[submodule "src/manas_expo_nova"]
	path = src/manas_expo_nova
	url = git@github.com:Karthikeya819/manas_expo_nova.git
[submodule "/home/summer/self-drive-ws/src/xbox_teleop"]
	url = git@github.com:orca-12386/xbox_teleop
